<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<dict>
				<key>NSExtensionActivationSupportsAttachmentsWithMaxCount</key>
				<integer>1</integer>
				<key>NSExtensionActivationSupportsAttachmentsWithMinCount</key>
				<integer>1</integer>
				<key>NSExtensionActivationSupportsFileAttachments</key>
				<dict>
					<key>com.apple.audio</key>
					<true/>
					<key>public.audio</key>
					<true/>
				</dict>
				<key>NSExtensionActivationSupportsImage</key>
				<false/>
				<key>NSExtensionActivationSupportsMovie</key>
				<false/>
				<key>NSExtensionActivationSupportsText</key>
				<false/>
			</dict>
			<key>NSExtensionServiceAllowsFinderPreviewItem</key>
			<true/>
			<key>NSExtensionServiceAllowsTouchBarItem</key>
			<true/>
			<key>NSExtensionServiceFinderPreviewIconName</key>
			<string>NSActionTemplate</string>
			<key>NSExtensionServiceTouchBarBezelColorName</key>
			<string>TouchBarBezel</string>
			<key>NSExtensionServiceTouchBarIconName</key>
			<string>NSActionTemplate</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ui-services</string>
	</dict>
	<key>PostHogAPIKey</key>
	<string>$(POSTHOG_API_KEY)</string>
</dict>
</plist>
